@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'),
        url('fira-sans-v10-latin-ext_latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Fira Sans Italic'), local('FiraSans-Italic'),
        url('fira-sans-v10-latin-ext_latin-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Fira Sans Bold'), local('FiraSans-Bold'),
        url('fira-sans-v10-latin-ext_latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'),
        url('fira-sans-v10-latin-ext_latin-700italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'),
       url('fira-mono-v8-latin-ext_latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Mono Bold'), local('FiraMono-Bold'),
       url('fira-mono-v8-latin-ext_latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Go';
    src: url('GoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Go';
    src: url('Go-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Go';
    src: url('Go-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Go';
    src: url('Go-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Go';
    src: url('GoMedium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Go';
    src: url('GoMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Go Mono';
    src: url('GoMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Go Mono';
    src: url('GoMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Go Mono';
    src: url('GoMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Go Mono';
    src: url('GoMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
